<ion-app>
  @if (showSidebar()) {
    <ion-split-pane contentId="main-content">
      <ion-menu menuId="main-menu" contentId="main-content" type="overlay">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>IonicWund</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          @if (userEmail) {
            <div class="menu-user">
              <ion-avatar class="menu-avatar">
                <div class="avatar-placeholder">{{ userName.charAt(0).toUpperCase() }}</div>
              </ion-avatar>
              <div class="menu-user-info">
                <div class="menu-user-name">{{ userName }}</div>
                <ion-note>{{ userEmail }}</ion-note>
              </div>
            </div>
          }

          <ion-list>
            @for (item of menuItems; track item.id) {
              <ion-menu-toggle auto-hide="false">
                <ion-item
                  button
                  (click)="navigate(item.route)"
                  detail="false"
                  [class.active-item]="isActive(item.route)"
                >
                  <ion-icon slot="start" [name]="item.icon || 'circle-outline'"></ion-icon>
                  <ion-label>{{ item.label }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              @if (item.children && item.children.length > 0) {
                @for (child of item.children; track child.id) {
                  <ion-menu-toggle auto-hide="false">
                    <ion-item
                      button
                      (click)="navigate(child.route)"
                      detail="false"
                      class="menu-child"
                      [class.active-item]="isActive(child.route)"
                    >
                      <ion-icon slot="start" [name]="child.icon || 'circle-outline'"></ion-icon>
                      <ion-label>{{ child.label }}</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                }
              }
            }
          </ion-list>

          <ion-list class="menu-footer">
            <ion-menu-toggle auto-hide="false">
              <ion-item button (click)="logout()" detail="false">
                <ion-icon slot="start" name="log-out-outline"></ion-icon>
                <ion-label>Logout</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>

      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  } @else {
    <ion-router-outlet id="main-content"></ion-router-outlet>
  }
</ion-app>
