<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <div class="login-logo">
      <h1>IonicWund</h1>
    </div>

    <form (ngSubmit)="onLogin()" class="login-form">
      <ion-item>
        <ion-input
          type="email"
          label="Email"
          labelPlacement="floating"
          [(ngModel)]="email"
          name="email"
          placeholder="user@example.com"
          autocomplete="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          label="Password"
          labelPlacement="floating"
          [(ngModel)]="password"
          name="password"
          placeholder="Enter password"
          autocomplete="current-password"
        ></ion-input>
      </ion-item>

      @if (errorMessage) {
        <ion-note color="danger" class="error-message">{{ errorMessage }}</ion-note>
      }

      <ion-button
        type="submit"
        expand="block"
        [disabled]="loading"
        class="login-button"
      >
        @if (loading) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          Login
        }
      </ion-button>
    </form>
  </div>
</ion-content>
